.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

body {
    
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

a {
    color: #ffffff; /* Colour of links */
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.HomePageGrid {
    display: grid;
    grid-template-rows: 125pt 50pt Auto;
    grid-template-columns: 15% 70% 15%;
    overflow: auto;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.NavBar {
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: xx-large;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.NameAndLogo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ArticleList {
    grid-column: 2 / 3;
    grid-row: 3;
    color: white;
}

.Latestnews {
    grid-column: 2 / 3;
    grid-row: 2;
}

.ArticleImage {
    width: 35%;
    height: 35%;
}

.SmallerImage {
    height: 17.5%;
    width: 17.5%;
}

.ArticleListLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    row-gap: 10pt;
    
    overflow: auto;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.SmallArticle {
    width: 45%;
    height: 150pt;
    background-color: #424242;
    border-radius: 25pt;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.NewsSummary {
    color: #E0E0E0;
}

.NewsDate {
    font-size: 0.8em;
    color: #999;
}

.ArticlePage {
    display: grid;
    grid-template-rows: 125pt Auto;
    grid-template-columns: 15% 70% 15%;
    overflow: auto;
    overflow-wrap: break-word;
    overflow-y: hidden;
}
.SpecialArticlePage {
    display: grid;
    grid-template-rows: 125pt 2500pt;
    grid-template-columns: 15% 70% 15%;
    overflow: auto;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.NewsArticle {
    grid-row: 2;
    grid-column: 2;
}

.VideoGallery {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 75%;
}


@media only screen and (max-width: 1150px) {
    .SmallArticle {
        width: 40%;
    }
}


@media only screen and (max-width: 600px) {
    .HomePageGrid {
        grid-template-rows: 125pt 50pt auto;
        grid-template-columns: 2% 96% 2%;
    }

    .ArticleListLayout {
        row-gap: 8pt;
    }

    .SmallArticle {
        width: 90%;
        height: 160pt;
    }

    .ArticlePage {
        grid-template-columns: 5% 90% 5%;
    }

    .ArticleImage {
        width: 100%;
        height: 100%;
    }

    .SmallerImage {
        height: 100%;
        width: 100%;
    }

    .VideoGallery {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 50%;
    }

    .SpecialArticlePage {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 125pt 3500pt;
    }
}